<style>
  body, html {
      height:100%;
      margin:0;
  }
</style>

<div class="container box-float">

<h3 class="font_thin">Thanks for Checking In!</h3>
</br>
<p><a href="/wineries/<%= @winery[:wid]%>" class="btn btn-primary">Back to <%= @winery[:name] %></a></p>