<style>
  body, html {
      height:100%;
      margin:0;
  }
</style>
<div class="container box-float">

<h1 class="font_less_thin">Thanks for signing up!</h1>
<span>
    <a href="/logins/new" class="btn btn-primary" >Sign In</a>
    <a href="/" class="btn btn-primary btn-grey" style="margin-right: 0.2rem;">Go Home</a>
</span>