<style>
  body, html {
      height:100%;
      margin:0;
  }
</style>
<div class="container box-float">

<h1>Sign Up</h1>

<form action="/users/create" method="POST">
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" name="fname" oninvalid="this.setCustomValidity('First Name is Required')" oninput="setCustomValidity('')" required>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="lname" oninvalid="this.setCustomValidity('Last Name is Required')" oninput="setCustomValidity('')" required>
    </div>
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" placeholder="name@example.com" name="email" oninvalid="this.setCustomValidity('Email is Required')" oninput="setCustomValidity('')" required>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" oninvalid="this.setCustomValidity('Password is Required')" oninput="setCustomValidity('')" required>
    </div>
    <div class="form-group">
        <label>Phone Number</label>
        <input type="number" class="form-control" name="phone" maxlength="10" oninvalid="this.setCustomValidity('Phone Number is Required')" oninput="setCustomValidity('')" required>
    </div>
    <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" name="city" oninvalid="this.setCustomValidity('City is Required')" oninput="setCustomValidity('')" required>
    </div>
    <div class="form-group">
        <label>State</label>
        <input type="text" class="form-control" name="state" oninvalid="this.setCustomValidity('State is Required')" oninput="setCustomValidity('')" required>
    </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
