<% if @current_user.nil? %>
    <% redirect "/wineries/".concat(params["wid"]).concat("/1") %>

<% elsif @user_phone == @check_phone[:phone] %>

    <% redirect "/create_text/".concat(params["wid"]) %>
<% else %>   
    <% redirect "/wineries/".concat(params["wid"]).concat("/3") %>
<% end %>

<style>
  body, html {
      height:100%;
      margin:0;
  }
</style>
<div class="container box-float">
<h1 class="font_less_thin">Your message has been sent</h1>

