

<h1>Check In at <%= @winery[:name] %></h1>

<form action="/winery/<%= @winery[:wid] %>/check_in/create" method="POST">
  <div class="form-group">
    <label>What Day Did You Go?</label>
    <input type="date" class="form-control" name="date">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>