<h1>All Wineries</h1>

<% @wineregion_count = 1 %>
<% for region in @regions_table %>
    <h3><%= region[:description]%></h3>
        <% for winery in @wineries %>
        <% if winery[:reid] == @wineregion_count then%>
            <p><a href="/wineries/<%= winery[:wid] %>"><%= winery[:name] %></a></p>
        <%end%>
        <% end %>
        <% @wineregion_count =  @wineregion_count + 1 %>
<% end %>